body {
  background-color: pink; 
}

center {
  background-color: pink; 
}

nav {
  list-style-type: none;
  background-color: #333;
  width: 100%;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 15px 50px;
}

li a:hover {
  background-color: antiquewhite;
  color: black;
}
